[global_tags]

{% if 'tower' in group_names %}
node_type='tower'
{% endif %}

{% if 'database' in group_names %}
node_type = 'database'
{% endif %}

[agent]
  interval = "{{telegraf_collection_interval}}"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_interval = "{{telegraf_collection_interval}}"
  flush_jitter = "0s"
  precision = ""
  debug = false
  quiet = false
  logfile = ""
  hostname = ""
  omit_hostname = false

[[outputs.elasticsearch]]
   urls = [ "{{elasticsearch_url}}" ]
   timeout = "5s"
   health_check_interval = "30s"
   index_name = "tower-%Y.%m.%d"

[[inputs.cpu]]
  percpu = true
  totalcpu = true
  collect_cpu_time = false
  report_active = false
[[inputs.disk]]
  ignore_fs = ["tmpfs", "devtmpfs", "devfs"]
[[inputs.diskio]]

[[inputs.kernel]]

[[inputs.mem]]

[[inputs.processes]]

[[inputs.swap]]

[[inputs.system]]

{% if 'tower' in group_names %}

{% for telegraph_script in telegraf_exec_scripts: %}
[[inputs.exec]]
  commands = ['/usr/local/bin/{{telegraph_script}}']
  data_format = 'influx'

{% endfor %}
{% endif %}

{% if 'database' in group_names %}
[[inputs.postgresql_extensible]]
  address = "host=localhost user={{pg_username}} password={{pg_password}} dbname={{pg_database}}"
  max_lifetime = "0s"
  databases = ["{{pg_database}}"]
  [[inputs.postgresql_extensible.query]]
    sqlquery="SELECT pg_database_size('{{pg_database}}')"
    withdbname=false
    tagvalue=""
{% endif %}
