#!/var/lib/awx/venv/ansible/bin/python


"""
Ansible Tower - Calculates Current System Capacity usage
Requires a usernamee and password. Create a System Auditor account
and make this script only readable by the telegraf user.

tower_system_capacity, host=tower1, max_capacity=100,capacity_used=10,active_job_count=10

Then define a telegraf filter as follows

[[inputs.exec]]
   commands = ['/usr/local/bin/tower_capacity.py']
   data_format  = "influx"


Author: Stanley Karunditu
LICENSE: MIT

"""

from ansible.module_utils.urls import open_url
import json
from socket import gethostname

rsp = open_url( 'http://localhost/api/v2/instances/',
                url_password='{{ tower_monitor_password}}',
                url_username='{{ tower_monitor_user }}')
output = json.loads(rsp.read())
list_of_instances = output.get('results')
_hostname = gethostname()

max_capacity = 0
active_job_count = 0
capacity_used = 0

for _node in list_of_instances:
    if _node.get('hostname') in _hostname:
        max_capacity = _node.get('capacity')
        active_job_count = _node.get('jobs_running')
        capacity_used = _node.get('consumed_capacity')
        percent_remaining  = _node.get('percent_capacity_remaining')
        break

print("tower_system_capacity,host=%s max_capacity=%s,capacity_used=%s,active_job_count=%s,percent_remaining=%s" %
    (_hostname, max_capacity, capacity_used, active_job_count, percent_remaining ))
